:root {
  --background-colour: rgb(39, 39, 41);
  --shadow-on-background-colour: rgb(17, 17, 19);
  --container-background-colour: rgb(30, 30, 31);
  --main-text-colour: #ffffff;
  --soft-grey-colour: rgb(179, 179, 181);
  --softer-grey-colour: rgb(52, 52, 54);
  --softest-grey-colour: rgb(35, 35, 37);
  --primary-red-colour: #C20016; /* red colour from tichu */
  --primary-darker-red-colour: #A00012;
  --background-pale-red-colour: #ffd5cd;
}


/* ---- GLOBAL STYLES ---- */

.regular-title {
  font-size: 1.4rem;
  margin-bottom: 10px;
  margin-top: 4px;
}

.regular-subtitle {
  font-size: 0.9rem; 
  color: var(--soft-grey-colour); 
  margin-bottom: 15px; 
}

.muted-text {
  font-size: 0.72rem; 
  color: #474747; 
  text-align: left; 
  margin-top: 5px; 
}

.basic-red-button {
  width: 100%;
  padding: 12px;
  border: none; 
  border-radius: 6px; 
  background-color: var(--primary-red-colour); 
  color: var(--main-text-colour); 
  font-size: 1rem; /* Matches the input field text size */
  cursor: pointer; 
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease; /* Added background-color */
}

.basic-red-button:hover {
  background-color: var(--primary-darker-red-colour);
  transform: scale(1.01); 
  box-shadow: 0 0 6px var(--primary-red-colour); 
}

.basic-red-button:active {
  background-color: var(--primary-darker-red-colour); 
  transform: scale(0.99);
}

.basic-red-button:focus {
  outline: none;
  box-shadow: 0 0 6px var(--primary-red-colour); 
}

.error-message {
  background-color: var(--background-pale-red-colour); 
  border-radius: 6px; 
  padding: 16px 12px; 
  margin-top: 12px; 
  text-align: left; 
}

.error-text {
  color: var(--primary-darker-red-colour); 
  font-size: 0.84rem; 
  margin: 0; 
}

::selection {
  background-color: var(--primary-red-colour); 
  color: var(--main-text-colour); 
}

/* BASIC CONTAINER */
.basic-container {
  background-color: var(--container-background-colour);
  border-radius: 10px;
  margin-top: 60px;
  padding: 24px;
  width: 484px;
  text-align: center;
  position: relative;
  border: 1.6px solid #282828;
  justify-self: center;
}

.basic-container::before {
   content: '';
   position: absolute;
   height: 100%;
   width: 100%;
   bottom: 0;
   left: 0;
   border-radius: 10px;
   box-shadow: 0 0 70px 1px var(--shadow-on-background-colour);
   z-index: -1;
}

.input-field {
  width: 100%;
  padding: 10px;
  border: 1.5px solid var(--softer-grey-colour);
  border-radius: 5px;
  background-color: var(--softest-grey-colour);
  color: var(--main-text-colour);
  font-size: 1rem;
  margin-top: 12px;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease; 
}

.input-field:focus {
  outline: none;
  border-color: var(--primary-red-colour); 
  box-shadow: 0 0 5px var(--primary-red-colour); 
}

/* ---- JOIN PAGE ---- */
.join-form {
  background-color: var(--container-background-colour);; 
  border-radius: 10px; 
  margin-top: 72px;
  padding: 24px; 
  width: 380px;
  text-align: center; 
  box-shadow: 0 0 70px 2px var(--primary-red-colour);
  border: 1.6px solid var(--softest-grey-colour);
  justify-self: center;
}

/* ---- LOBBY PAGE ---- */
.lobby-container {
  margin-top: 50px;
}

.room-link-container {
  margin-top: 20px;
  text-align: center;
}

.room-link-text {
  font-size: 1rem;
  color: var(--soft-grey-colour); /* Subtle grey text */
  margin-bottom: 12px;
}
.room-link-wrapper {
  display: flex;
  align-items: stretch; /* Stretch children to height */
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  border: none;
  height: 40px; 
  transition: box-shadow 0.3s ease, border-color 0.3s ease; /* Smooth transitions */
}

.room-link-input {
  flex: 1; /* Input should take up remaining space */
  padding: 10px;
  background-color: var(--softest-grey-colour);
  color: var(--soft-grey-colour);
  border: 1.5px solid var(--softer-grey-colour);
  border-radius: 5px 0px 0px 5px;
  font-size: 0.9rem;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  border-right: none;
  transition: border-color 0.3s ease; /* Smooth transition */
}

.room-link-input:focus {
  outline: none;
  border-color: var(--primary-red-colour);
}

.room-link-button {
  border: 1.5px solid var(--primary-darker-red-colour);
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
  padding: 0 8px;
  box-sizing: border-box;
  width: 9%;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease; 
}

.room-link-button:hover {
  transform: scale(1.02);
  background-color: var(--primary-red-colour);
}

.room-link-button:active {
  transform: scale(0.98);
}

.room-link-button:focus {
  border-color: var(--primary-red-colour);
}

.icon {
  width: 18px;
  height: 18px;
}

/* ---- PLAYER CARD ---- */
.player-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two equal-width columns */
  row-gap: 0.4rem;
  column-gap: 0.82rem;   
  width: 100%;        
  max-width: 600px;   
  margin: 22px auto;  
}

.player-card-container,
.empty-slot {
  padding: 0px 2px;
  height: 50px;
  width: 100%;
  border: 1.4px solid var(--softer-grey-colour);
  border-radius: 8px;
}

.empty-slot {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--softer-grey-colour);
}

.player-card-container {
  display: grid;
  grid-template-columns: 2fr 5fr 1fr;
  background-color: rgb(24, 24, 24);
  box-shadow: inset 0 0 3px 2px rgba(16, 16, 16, 0.228);
  border: 1.4px solid var(--softer-grey-colour);
}

.player-profile {
  place-self: center;
  height: 82%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: var(--primary-red-colour);
  font-size: 1.2em;
  display: flex;           
  justify-content: center; 
  align-items: center;    
  margin-left: 4px; /* Add horizontal space */
  margin-right: 4px;
}

.player-name-text {
  padding-left: 2px;
  align-self: center;
  overflow: hidden;          /* Prevents content from overflowing */
  text-overflow: ellipsis;   /* Adds "..." to truncated text */
  white-space: nowrap;       /* Ensures text does not wrap to a new line */
  text-align: left;          /* Align text to the left */
}

.team-selector {
  place-self: center;
  height: 64%;
  text-align: center;
  border-radius: 5px;
  margin-right: 5px;
  border: none;
  background-color: var(--softer-grey-colour);
  border: 1.4px solid var(--softer-grey-colour);
  color: var(--soft-grey-colour);
  padding-left: 4px;
  padding-right: 4px;
  cursor: pointer;
  accent-color: var(--primary-red-colour);
}

.team-selector:focus {
  outline: none;
  border: 1.4px solid var(--soft-grey-colour);
}

.team-selector:disabled {
  appearance: none;
  cursor: not-allowed;
}


/* ---- CHAT ----- */
.chat-container {
  margin-top: 20px;
}

.chat-display {
  height: 140px; 
  overflow-y: scroll; 
  scrollbar-width: thin; /* for firefox */
  scrollbar-color: var(--softer-grey-colour) transparent; 
}

/* For Chrome, Safari, and Edge */
.chat-display::-webkit-scrollbar {
  width: 6px; 
}

.chat-display::-webkit-scrollbar-thumb {
  background-color: var(--softer-grey-colour); /* Grey thumb */
  border-radius: 4px; /* Makes the scrollbar thumb rounded */
}

.chat-display::-webkit-scrollbar-track {
  background: transparent; /* No track background */
}

.chat-messages {
  list-style: none; /* Removes bullet points */
  margin: 0; /* No outer margins */
  padding: 0; /* No padding */
  text-align: left; /* Align content to the left */
}

.chat-message-header {
  color: var(--primary-red-colour);
  font-weight: bold;
  margin-right: 4px;
}

.chat-message-body-dull {
  color: var(--soft-grey-colour);
}

/* ---- HAND ---- */

.hand-container {
  padding: 16px;
  display: flex;
  justify-content: center;
  min-height: 150px;
}

.cards-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}

.card-wrapper {
  cursor: grab;
}

.card-wrapper:focus {
  outline: none;
}

.card-wrapper.selected .card-image {
  filter: brightness(75%);
  outline: none;
  transform: translateY(-10px);
}

.card-image {
  height: 165px; /* Set the width */
  aspect-ratio: 5 / 7; /* Maintain aspect ratio of 5:7 */
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: filter 0.2s ease-out;
  object-fit: cover; /* Ensure the image fits within the element */
}

.selected-cards {
  text-align: center;
  padding: 10px;
  color: #666;
  font-size: 14px;
}

/* ---- SELECTED CARDS DISPLAY ---- */

/* Update the container to also handle overflow properly */
.action-button-container {
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
  gap: 5px;
  height: 165px;
  max-width: 170px;
  min-width: 0;     /* Add this to allow children to shrink */
}


/* First, ensure the play button constrains its children */
.play-button {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;    /* Make sure the button takes full width */
  min-width: 0;   /* Allow the button to shrink below its content's width */
}

/* Then, make sure SelectedCardsDisplay is properly constrained */
.selected-cards-display {
  background-color: var(--softer-grey-colour);
  color: var(--soft-grey-colour);
  border-radius: 5px;
  padding: 5px 10px;
  height: 22px;
  margin-top: 4px;
  /* Remove width: 100% */
  max-width: 100%; /* Keep this to ensure it doesn't overflow parent */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  min-width: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ---- GAME PAGE GRID ---- */
/* Reset default margins and ensure full viewport height */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Aptos', sans-serif;
  background-color: var(--background-colour);
  color: var(--main-text-colour);
}

/* Create a wrapper div for centering */
.game-page-wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.game-grid-container {
  display: grid;
  grid-template-columns: 1fr 1.2fr 1fr;
  grid-template-rows: 1.1fr 1.3fr 1.1fr 1.1fr; /* Last row is twice as tall */
  gap: 0px;
  height: 900px;
  background-color: #1a1a1a;
}

.grid-item {
  border: 2px solid purple;
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #1f2937;
}

.grid-item-bottom {
  grid-column: span 3;
}

.grid-item:hover {
  border-color: #9333ea;
  background-color: #374151;
  transition: all 0.2s ease-in-out;
}

@media (max-width: 800px) {
  .game-page-wrapper {
    width: 95%;
  }
  
  .game-grid-container {
    height: 800px;
    font-size: 0.8em;
  }
}