.hand-container {
  padding: 0px;
  display: flex;
  justify-content: flex-start;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.cards-area {
  display: flex;
  position: relative;
}

.cards-group {
  display: flex;
  position: relative;
}

.cards-group.face-up {
  margin-left: -100px; /* CONTROLS overlap with face-down group */
}

.cards-group.face-up.no-face-down {
  margin-left: 0; 
}

.card-wrapper {
  position: relative;
  cursor: grab;
}

.card-wrapper[data-index]:not([data-index="0"]) {
  margin-left: -100px; /* CONTROLS overlap of each card */
}

.card-wrapper.dragging {
  z-index: 9999;
}

.card-wrapper.static {
  cursor: pointer;
}

.card-wrapper.selected .card-image {
  filter: brightness(75%);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.528);
  transform: translateY(-10px);
}

.card-wrapper .card-image:hover {
  transform: translateY(-10px);
}

.card-image {
  height: 188px;
  aspect-ratio: 5 / 7;
  border-radius: 5px;
  box-shadow: -1px 0 4px rgba(0, 0, 0, 0.4);
  transition: all 0.1s ease;
  object-fit: cover;
}

.card-wrapper:focus,
.card-wrapper:focus-visible,
.card-image:focus,
.card-image:focus-visible {
  outline: none;
  -webkit-tap-highlight-color: transparent; /* For Safari/iOS */
}

@media (max-width: 740px) {
  .card-image {
    height: 110px;
  }
  
  .card-wrapper[data-index]:not([data-index="0"]) {
    margin-left: -64px;
  }
  
  .cards-group.face-up {
    margin-left: -64px;
  }
}