.game-page-wrapper {
  width: clamp(200px, 80%, 1000px);
  margin: 0 auto;
  padding: 20px;
}

.game-grid-container {
  display: grid;
  grid-template-columns: 1fr 1.2fr 1fr;
  grid-template-rows: 1.1fr 1.3fr 1.3fr 1.1fr;
  gap: 0px;
  height: 1000px;
}

.grid-item {
  display: flex;
  justify-content: center; /* Centered on main axis (horizontally) */
  align-items: center; /* Centered on cross axis (veritcally) */
  flex-direction: column;
  min-width: 0;
  border: 0.2px solid purple;
  border-radius: 0.5rem;
}

.grid-item .grid-item-user {
  flex-direction: row;
}

.grid-item-bottom {
  grid-column: span 3;
}

.bottom-grid-container {
  width: 100%;
  height: 100%;
  min-width: 0;
  display: grid;
  grid-template-rows: 1fr 4fr;
}

.flex-wrapper {
  height: 100%;
  display: flex;
  border: 2px solid yellow;
}

@media (max-width: 740px) {
  .game-grid-container {
    height: 700px;
  }
}